!!!
%html
  %head
    %title Moon
    = stylesheet_link_tag    "moon/application", media: "all"
    = javascript_include_tag "moon/application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Moon ecommerce
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Products
                %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => admin_products_path} Products
                  %li
                    %a{:href => admin_option_types_path} Option types
    = yield

