<!DOCTYPE html>
<html>
<head>
  <title>Moon</title>
  <%= stylesheet_link_tag    "moon/application", media: "all" %>
  <%= javascript_include_tag "moon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
