%ul.nav.nav-pills.nav-stacked
  %li{class: "#{option[:details]}", role: 'presentation'}
    %a{href: edit_admin_product_path(@product)}
      %span.glyphicon.glyphicon-pencil
      Details

  %li{class: "#{option[:images]}", role: 'presentation'}
    %a{href: admin_product_images_path(@product)}
      %span.glyphicon.glyphicon-picture
      Images
